.wapper {
  display: grid;
  grid-template-areas:
        "header header"
        "aside main"
        "footer footer";  
}

.header {
  grid-area: header;
  background-color: chartreuse;
}

.main {
  grid-area: main;
  background-color: chartreuse;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}


/* .container {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
  column-gap: 1em;
  width: 95%;
  margin: 0px auto;
  border: 5px solid brown;
  background-color: cadetblue;
}

.main {
  grid-area: main;
  background-color: burlywood;
  border: 1px solid brown;
} */



/* .aside {
  grid-area: aside;

}

.footer {
  grid-area: footer;
} */